<div class="navbar">
  <div class="navbar-logo">
    <%= image_tag "logo.png", alt: "Logo", class: "logo" %>
  </div>
  <div class="navbar-content">
    <%= link_to "Accueil", class: "navbar-link" %>
    <%= link_to "Profil", class: "navbar-link" %>
    <%= link_to "Projets", class: "navbar-link" %>
    <%= link_to "Blog/Articles", class: "navbar-link" %>
    <%= link_to "Contact", class: "navbar-link" %>
  </div>
  <div class="navbar-toggle">

  </div>
</div>
