<div class="navbar">
  <div class="navbar-logo">
    <%= image_tag "logo.png", alt: "Logo", class: "logo" %>
  </div>

  <button class="menu-toggle" aria-label="Ouvrir le menu">
    <i class="fa-solid fa-bars"></i>
  </button>

  <%# Navigation Menu %>
  <div class="navbar-content">
    <%= link_to "Accueil", root_path, class: "active" %>
    <%= link_to "Profil", profile_path(1) %>
    <%= link_to "Projets", projects_path %>
    <%= link_to "Blog/Articles", articles_path %>
    <%= link_to "Contact", new_contact_path %>
  </div>

</div>
