<div class="sub-header">
  <h1 class="input-wrapper">
    <input aria-label="Ask us anything">
    <span class="placeholder"></span>
  </h1>

  <div class="stats-right">
    <div class="stats-infos1">
      <p class="stats-number" id="project_count" data-target="<%= @projects.length %>">0</p>
      <i class="fa-solid fa-laptop stats-icon"></i>
      <p class="stats-title">Projets</p>
    </div>
    <div class="stats-infos2">
      <p class="stats-number" id="pr-count" data-target="<%= @pr_count %>">0</p>
      <i class="fa-brands fa-github stats-icon"></i>
      <p class="stats-title">Pull Requests</p>
    </div>
    <div class="stats-infos3">
      <p class="stats-number" id="total-contributions" data-target="<%= @total_contributions %>">0</p>
      <i class="fa-solid fa-handshake stats-icon"></i>
      <p class="stats-title">Contributions</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="profile">
    <div class="infos">
      <p class="profile-name">Kevin Saison</p>
      <a href="#" class="cv_button">CV</a>
      <p class="profile-description">Ruby on Rails Développeur</p>
    </div>
  </div>
  <div class="projects">
    <div class="infos-projects">
      <p class="project-name">Dernier Projet: SHAREFRIENDS</p>
      <a href="#" class="projects_button"><i class="fa-solid fa-briefcase"></i></a>
    </div>
  </div>

  <div class="stacks">
    <img src="<%= asset_path('Ruby_logo.png') %>" alt="logo Ruby" class="icon-stacks">
    <img src="<%= asset_path('rails_logo.png') %>" alt="logo Rails" class="icon-stacks">
    <img src="<%= asset_path('sql.png') %>" alt="logo sql" class="icon-stacks">
    <img src="<%= asset_path('postgresql.png') %>" alt="logo postgresql" class="icon-stacks">
    <img src="<%= asset_path('git.png') %>" alt="logo git" class="icon-stacks">
    <img src="<%= asset_path('html.png') %>" alt="logo html" class="icon-stacks">
    <img src="<%= asset_path('css.png') %>" alt="logo css" class="icon-stacks">
    <img src="<%= asset_path('javascript.png') %>" alt="logo javascript" class="icon-stacks">
    <img src="<%= asset_path('hotwire.png') %>" alt="logo hotwire" class="icon-stacks">
    <img src="<%= asset_path('rspec.jpg') %>" alt="logo rspec" class="icon-stacks">
    <img src="<%= asset_path('sidekiq.png') %>" alt="logo sidekiq" class="icon-stacks">
    <img src="<%= asset_path('redis.png') %>" alt="logo redis" class="icon-stacks">
    <img src="<%= asset_path('heroku.png') %>" alt="logo heroku" class="icon-stacks">
    <img src="<%= asset_path('vscode.png') %>" alt="logo vscode" class="icon-stacks">
    <img src="<%= asset_path('github.png') %>" alt="logo github" class="icon-stacks">
    <img src="<%= asset_path('bootstrap.png') %>" alt="logo bootstrap" class="icon-stacks">
  </div>

  <div class="blog">
    <div class="infos-blog">
      <p class="blog-name">Dernier Article: Coder une API sur Rails</p>
      <a href="#" class="blog_button"><i class="fa-solid fa-newspaper"></i></a>
    </div>
  </div>

  <div class="test4">
  </div>
  <div class="calendar">
    <p class="date">Jeudi <span class="day">10</span> avril</p>
    <div class="quest">
      <h3 class="quest-title">Quête du Jour</h3>
      <p class="quest-subtitle">Le Grimoire des Nombres : Maîtrise des Integers en Ruby</p>
    </div>
    <div class="quest-description">
      <p>Tu as été convoqué par le Conseil des Sages du Ruby pour déchiffrer l’antique grimoire des Integers. Entre opérations arithmétiques mystiques, conversions secrètes et méthodes oubliées, ta mission est claire : percer tous les secrets du type Integer dans la documentation officielle de Ruby. Chaque méthode que tu comprendras, chaque subtilité que tu dompteras, t’armera pour les batailles à venir dans le royaume du code.</p>
      <p>Lis chaque ligne comme si ta vie en dépendait. Expérimente les méthodes en IRB. Transforme le savoir brut en puissance maîtrisée.</p>
      <p>Récompense : +10 Intelligence, +15 Puissance Arithmétique, +1 Sort "to_i" maîtrisé à la perfection.</p>
    </div>
  </div>
  <div class="test6"></div>
  <div class="testimony">
    <div class="quote">
      <img src="<%= asset_path('devnovice.jpg') %>" alt="Avatar utilisateur" class="user-icon">
      <div class="testimonial">
        <p>J’ai eu la chance de travailler avec lui alors qu'il était en formation lors de plusieurs sessions de pair programming. Issu d’un parcours de reconversion via un bootcamp intensif, il a rapidement fait preuve d’une grande curiosité. Dès nos premiers échanges, j’ai aimé son envie constante d’apprendre et sa propension à poser des questions. Il fait preuve d'une vraie envie de se lancer dans ce métier</p>
        <p>Au fil de nos différents projets, Il a su assimiler les bonnes pratiques de développement web : organisation du code, principes d’architecture logicielle, intégration d’API et gestion des versions. Nous avons régulièrement partagé nos retours sur le cycle de vie d’un projet, la mise en place d’un pipeline de déploiement continu, ainsi que la priorisation des tâches dans le respect des deadlines. Toutes ces notions que je connais de par mon quotidien au travail en tant que développeur web et qu'il n'aborde qu'en surface durant sa formation. Cela lui a permis d'avoir déjà un premier regard et une première conscience de la réalité du métier.</p>
        <p>Ce qui distingue particulièrement Kévin, c’est sa volonté d’aller au fond des sujets et de se questionner. Une qualité que je partage et que j'aime énormément chez un développeur, d'autant plus issue de reconversion. Il ne se contente pas de copier-coller des morceaux de code : il cherche à comprendre les tenants et aboutissants.</p>
        <p>Son sérieux, sa curiosité intellectuelle et sa passion pour le développement web en font un atout indéniable pour toute équipe. Je suis persuadé qu’il s’intégrera rapidement dans n’importe quelle structure et qu’il continuera à monter en compétences grâce à cette soif d’apprendre qui le caractérise.</p>
        <p>Je recommande donc chaleureusement Kévin pour toute opportunité en développement web. Sa rigueur et son état d’esprit positif seront de véritables atouts pour. Nul doute que miser sur l'évolution de ce profil junior fera à terme une différence positive dans votre équipe si on lui laisse sa chance et le temps de grandir.</p>
      </div>
    </div>
  </div>
</div>
