<h1 class="title">Bienvenue, Visiteur</h1>
<div class="stats">
  <div class="stats-left">
  <p class="objectif">From Zero to Rails Software Engineer<br/>
  <span class="learning">Lecture actuel: The Evolution of Data Structures</span></p>
    <div class="loader">
      <div class="progress-bar">
        <div class="progress-stripes"></div>
        <div class="percentage">28%</div>
      </div>
    </div>
  </div>

  <div class="stats-right">
    <div class="stats-infos1">
      <p class="stats-number">12</p>
      <i class="fa-solid fa-laptop stats-icon"></i>
      <p class="stats-title">Projets</p>
    </div>
    <div class="stats-infos2">
      <p class="stats-number">66</p>
      <i class="fa-brands fa-github stats-icon"></i>
      <p class="stats-title">Pull Requests</p>
    </div>
    <div class="stats-infos3">
      <p class="stats-number">252</p>
      <i class="fa-solid fa-handshake stats-icon"></i>
      <p class="stats-title">Contributions</p>
    </div>
  </div>

</div>
<div class="container">
  <div class="profile">
    <div class="infos">
      <p class="profile-name">Kevin Saison</p>
      <a href="#" class="cv_button">CV</a>
      <p class="profile-description">Ruby on Rails Développeur</p>
    </div>
  </div>
  <div class="projects">
    <div class="infos-projects">
      <p class="project-name">Dernier Projet: SHAREFRIENDS</p>
      <a href="#" class="projects_button"><i class="fa-solid fa-briefcase"></i></a>
    </div>
  </div>

  <div class="stacks">
    <img src="<%= asset_path('Ruby_logo.png') %>" alt="logo Ruby" class="icon-stacks">
    <img src="<%= asset_path('rails_logo.png') %>" alt="logo Rails" class="icon-stacks">
    <img src="<%= asset_path('sql.png') %>" alt="logo sql" class="icon-stacks">
    <img src="<%= asset_path('postgresql.png') %>" alt="logo postgresql" class="icon-stacks">
    <img src="<%= asset_path('git.png') %>" alt="logo git" class="icon-stacks">
    <img src="<%= asset_path('html.png') %>" alt="logo html" class="icon-stacks">
    <img src="<%= asset_path('css.png') %>" alt="logo css" class="icon-stacks">
    <img src="<%= asset_path('javascript.png') %>" alt="logo javascript" class="icon-stacks">
    <img src="<%= asset_path('hotwire.png') %>" alt="logo hotwire" class="icon-stacks">
    <img src="<%= asset_path('rspec.jpg') %>" alt="logo rspec" class="icon-stacks">
    <img src="<%= asset_path('sidekiq.png') %>" alt="logo sidekiq" class="icon-stacks">
    <img src="<%= asset_path('redis.png') %>" alt="logo redis" class="icon-stacks">
    <img src="<%= asset_path('heroku.png') %>" alt="logo heroku" class="icon-stacks">
    <img src="<%= asset_path('vscode.png') %>" alt="logo vscode" class="icon-stacks">
    <img src="<%= asset_path('github.png') %>" alt="logo github" class="icon-stacks">
    <img src="<%= asset_path('bootstrap.png') %>" alt="logo bootstrap" class="icon-stacks">
  </div>

  <div class="blog">
    <div class="infos-blog">
      <p class="blog-name">Dernier Article: Coder une API sur Rails</p>
      <a href="#" class="blog_button"><i class="fa-solid fa-newspaper"></i></a>
    </div>
  </div>

  <div class="test4">
  </div>
  <div class="test5">

  </div>
  <div class="test6"></div>
  <div class="test7"></div>
</div>
