<h1>Edit Project</h1>

<%= form_with(model: @project, local: true, url: project_path(@project), method: :patch) do |form| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% @project.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <div class="field">
    <%= form.label :live_link %>
    <%= form.text_field :live_link %>
  </div>

  <div class="field">
    <%= form.label :source_code_link %>
    <%= form.text_field :source_code_link %>
  </div>

  <div class="field">
    <%= form.label :category_ids, "Categories" %>
    <%= form.collection_select :category_ids, Category.all, :id, :name, {}, { multiple: true } %>
  </div>

  <div class="field">
    <%= form.label :tag_ids, "Tags" %>
    <%= form.collection_select :tag_ids, Tag.all, :id, :name, {}, { multiple: true } %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
