<h1>New Project</h1>

<%= form_with model: @project, url: projects_path, method: :post do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <div>
    <%= form.label :live_link %><br>
    <%= form.url_field :live_link %>
  </div>

  <div>
    <%= form.label :source_code_link %><br>
    <%= form.url_field :source_code_link %>
  </div>

  <div>
    <%= form.submit "Create Project" %>
  </div>
<% end %>

<%= link_to 'Back to Projects', projects_path %>
